<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
	<section>
		<!-- Start Slider  -->

		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/ecom1.png" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom3.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom2.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!-- End Slider  -->


		<!-- Start Latest Product Module -->

		<div id="sellers">
			<div class="seller container">
				<h2 class="center-titleqq">Top Sales</h2>
				<div class="best-seller" >
					<div class="best-p1" th:each="p : ${products}">
						<img alt="" th:src="@{|/img/product_img/${p.image}|}" style="width: 100%; height: 250px; object-fit: cover;">

						<div class="best-p1-txt">
							<a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
							<div class="rating">
								<i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bx-star'></i><i class='bx bx-star'></i>
							</div>
							<div class="price" th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT') + ' đ'}">
								<div class="colors">
									<i class='bx bxs-circle red'></i><i class='bx bxs-circle blue'></i><i class='bx bxs-circle white'></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				</div>

			<div class="seller container">
				<h2 class="center-titleqq">New Arrivals</h2>
				<div class="best-seller">
					<div class="best-p1" th:each="p : ${products1}">
						<img th:src="@{'img/product_img/'+${p.image}}" alt="img" style="width: 100%; height: 250px; object-fit: cover;">
						<div class="best-p1-txt">
							<a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
							<div class="rating">
								<i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bx-star'></i><i class='bx bx-star'></i>
							</div>
							<div class="price" th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT') + ' đ'}">
								<div class="colors">
									<i class='bx bxs-circle red'></i><i class='bx bxs-circle blue'></i><i class='bx bxs-circle white'></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="seller container">
				<h2 class="center-titleqq">Hot Sales</h2>
				<div class="best-seller" >
					<div class="best-p1" th:each="p : ${products}">
						<img th:src="@{'img/product_img/'+${p.image}}" alt="img" style="width: 100%; height: 250px; object-fit: cover;">
						<div class="best-p1-txt">
							<a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
							<div class="rating">
								<i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bx-star'></i><i class='bx bx-star'></i>
							</div>
							<div class="price" th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT') + ' đ'}">
								<div class="colors">
									<i class='bx bxs-circle red'></i><i class='bx bxs-circle blue'></i><i class='bx bxs-circle white'></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--		</div>-->
		</div>

	</section>

</html>



